<%= component "page_title", title: "Books" do %>
  <%= link_to "New Book", new_admin_book_path, class: "btn btn-primary" %>
<% end %>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-8">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Title</th>
        <th scope="col" class="px-6 py-3">Author</th>
        <th scope="col" class="px-6 py-3">Date</th>
        <th scope="col" class="px-6 py-3">Published</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <%= component "book_row", book: book %>
      <% end %>
    </tbody>
  </table>
</div>

<%= BookMetadata.retrieve_from('https://en.wikipedia.org/wiki/Didache').attributes %>
