<tr>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900 dark:text-gray-100">
      <%= book.title %>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900 dark:text-gray-100">
      <%= book.author %>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900 dark:text-gray-100">
      <%= book.authored_at.strftime("%y") %>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900 dark:text-gray-100">
      -
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <%= link_to "Edit", "#", class: "text-indigo-600 hover:text-indigo-900" %>
  </td>
</tr>
