<tr>
  <td class="px-6 py-3 whitespace-nowrap">
    <div class="text-sm text-gray-900 dark:text-gray-100">
      <%= book.title %>
    </div>
  </td>
  <td class="px-6 py-3 whitespace-nowrap">
    <div class="text-sm text-gray-900 dark:text-gray-100">
      <%= book.author %>
    </div>
  </td>
  <td class="px-6 py-3 whitespace-nowrap">
    <div class="text-sm text-gray-900 dark:text-gray-100">
      <%= book.authored_at.strftime("%y") if book.authored_at.present? %>
    </div>
  </td>
  <td class="px-6 py-3 whitespace-nowrap">
    <div class="text-sm text-gray-900 dark:text-gray-100">
      -
    </div>
  </td>
  <td class="px-6 py-3 whitespace-nowrap text-sm font-medium">
    <%= user_actions %>
  </td>
</tr>
