<%= component "UI::PageTitle", title: "My Books" %>
<div class="relative overflow-x-auto my-4">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-4">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Title</th>
          <th scope="col" class="px-6 py-3">Author</th>
          <th scope="col" class="px-6 py-3">Date</th>
          <th scope="col" class="px-6 py-3">Published</th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Subscribe</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @my_books.each do |book| %>
          <%= component "Admin::BookRow", book: book %>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

<%= component "UI::PageTitle", title: "Available Books" %>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-4">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Title</th>
        <th scope="col" class="px-6 py-3">Author</th>
        <th scope="col" class="px-6 py-3">Date</th>
        <th scope="col" class="px-6 py-3">Published</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Subscribe</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <%= component "Admin::BookRow", book: book %>
      <% end %>
    </tbody>
  </table>
</div>
