<%= component "UI::PageTitle", title: "Users" %>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-8">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Email</th>
        <th scope="col" class="px-6 py-3">Role</th>
        <th scope="col" class="px-6 py-3">Sign In</th>
        <th scope="col" class="px-6 py-3">Last Signed In</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <%= component "Admin::UserRow", user: user %>
      <% end %>
    </tbody>
  </table>
</div>
